* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero_section {
    height: 80vh;
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero_container{
    width:100%;
    height:100%;
    position: relative;
}

.text_container {
    text-align: center;
    animation: slideDown 1.5s ease;
    position:absolute;
    top:30%;
    left: 20%;
    color:white;
    text-align: left;
    z-index:2;
}

.lg_text {
    font-size: 40px;
}

.black_box {
    background: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.black_box span {
    color: #00c3ff;
    font-size: 30px;
}

.work {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background: #d1cfcf;
    border-radius: 6px;
    overflow: hidden;
    animation: fadeUp 1.2s ease;
    transition: transform 0.4s ease;
}

.card:hover {
    transform: translateY(-12px) scale(1.05);
}

.image_container img {
    height: 100vh;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card_content {
    padding: 20px;
}

.bottom_section {
    display: flex;
    gap: 30px;
    padding: 40px;
    background: #9e4949;
    color: #d1cfcf;
}

.about, .contact {
    flex: 1;
    animation: fadeIn 1.5s ease;
}

footer {
    background: #222;
    color: #f5f4f4;
    text-align: center;
    padding: 15px;
}

.pulse {
    animation: pulse 1.3s infinite;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
}

@media (max-width: 768px) {
    .bottom_section {
        flex-direction: column;
    }
}
